*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    
}
svg{
    width: 100vw;
}
.left-item{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 40%;
    top: 60%;
}

.left-item p{
    color: #FFF;
font-family: "Poppins", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
width: 500px;

}

.design-1{
    position: absolute;
    bottom: 10% ;
    right: -1%;
}

.design-2{
    position: absolute;
    bottom: -1%;
}
.design-3{
    position: absolute;
    top: 10%;
    left: -40%;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    right: 8%;
    top: 15%; 
}
.background .shape{
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    height: 570px;
    width: 400px;
    background-color: rgba(244, 244, 244, 0.60);
    position: absolute;
    top: 10%;
    right: 10%; 
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.30);
background: #F9F9F9;
}
::placeholder{
    color: rgba(34, 34, 34, 0.60);
}
button{
    margin-top: 20px!important;
    width: 100%;
    color: #fff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 14px!important;
    background: #222;
}


@media(max-width: 1350px){
    
   
    form{
        width: 400px;
        
    }
    .background{
        width: 430px;
        height: 520px;
        position: absolute;
        /* transform: translate(-50%,-50%); */
        right: 10%;
        top: 20%; 
    }
    .main-design{
        width: 250px;
    }
    section.wrapper{
        max-width: 100%;
        /* overflow-x: hidden; */
    }
    .design-1{
        bottom: -20% ;
        right: 0%;
        /* display: none; */
    }
    
    .design-2{
        bottom: -40%;
        /* display: none; */
    }
    .design-3{
        top: 3%;
        left: -25%;
    }
}
@media (max-width:1200px) {
    section.wrapper{
        max-width: 100%;
        overflow-x: hidden;
    }
    form{
     
        right: 10%!important; 
    }
    .left-item{
        top: 75%;
        left: 35%;
    }
   
    .main-design{
        width: 250px;
       
    }
    .left-item p{
    font-size: 18px;
    }
    .background .shape{
        height: 120px;
        width: 120px;
    }

  
    .background{
        width: 430px;
        height: 520px;
        position: absolute;
        /* transform: translate(-50%,-50%); */
        right: 10%;
        top: 20%; 
    }

    .design-1{
        bottom: -20% ;
        right: 15%;
        display: none;
    }
    
    .design-2{
        bottom: -50%;
    }
  
}

@media (max-width:1100px) {
    .left-item{
        left: 25%;
    }
   .left-item p{
    width: 400px;
   }
}

@media (max-width:992px) {
     form{
        height: 580px;
        width: 370px;
    }
    .left-item p{
        width: 350px;
       }
   
}

@media (max-width:768px) {
   
   
    .left-item p{
        display: block;
    }
    .main-design{
        display: none;
    }
    form{
        right: 25%!important;
        top: 17%;
        /* transform: translate(-50%, -50%); */
    }
    .design-1, .design-2, .design-3{
        display: none;
    }
    .background{
        width: 430px;
        height: 520px;
        position: absolute;
        /* transform: translate(-50%,-50%); */
        /* right: 1%;
        top: 80%;  */
        right: 18%;
    }
}

@media (max-width:576px) {
    form{
        height: 580px;
        width: 320px;
        right: 5%!important;
    }
    .background{
        display: none;
    }
}
