

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
   overflow-x: hidden;
    
}
.search-icon{
    font-size: 20px;
    background-color: #e9e5e5;
    border-radius: 3px !important;
    
}

/* Hamburger Menu Start */
.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-left: 70%;
  }
  
  .menuItem:hover {
    text-decoration: underline;
    background: -webkit-linear-gradient(100.61deg, #060CDF 4.02%, #0451E8 37.84%, #038CF1 62.87%, #26EDFE 79.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1.6rem;
    right: 2.5rem;
    padding: 4px;
    border: 2px solid #26EDFE;
    background: -webkit-linear-gradient(100.61deg, #060CDF 4.02%, #0451E8 37.84%, #038CF1 62.87%, #26EDFE 79.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  
  .closeIcon {
    display: none;
  }
  
  .menu {
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.2s;
    /* margin-top: 20px; */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    color: white;
    list-style: none;
    padding-top: 4rem;
    background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)), url('assets/meta-2.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
  }
  .showMenu {
    transform: translateY(0);
  }

  .banner-top-adjust{
    /* margin-top: 10px; */
    position: relative;
  }
  .position{
    position: absolute;
    z-index: 6;
}
.position img{
    margin-top: 2px;
    /* z-index: 6; */
    left: 10%;
    animation: bounce 1.3s infinite;
 }
  .zindex{
    position: fixed;
    z-index: 100;
    top: 1.6rem;
    left: 2.5rem;
    padding: 4px;
  }
    /* Hamburger Menu End */

    .bg-color {
        height: 100px;
        background: linear-gradient(175.61deg, #060CDF 4.02%, #0451E8 37.84%, #038CF1 62.87%, #26EDFE 79.98%);
        width: 100%;
        height: 460px;
        overflow: hidden;
        margin-top: 50px;
        position: relative;
      }
    
      .brand{
            font-size: 55px;
            font-weight: 600;
      }
      .model-title{
        font-size: 20px;
            font-weight: 300;
      }
    .price-title{
        font-size: 29px;
            font-weight: 500;
    }
    .btn-style{
        padding: 10px 15px;
        background-color: #03C68B;
        color: #ffffff;
        border-radius: 8px;
        border: none;
        text-transform: uppercase;
        margin-top: 45px;
    }
   

/* Today's Deal Section Start*/
.border-style{
    position: relative;
    
}
.border-style::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px; 
    padding: 2px; 
    background:linear-gradient(100.61deg, #060CDF 4.02%, #0451E8 37.84%, #038CF1 62.87%, #26EDFE 79.98%); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;   
}


.bg-color2{
    background: linear-gradient(175.61deg, #060CDF 4.02%, #0451E8 37.84%, #038CF1 62.87%, #26EDFE 79.98%);
}
/* Today's Deal Section End*/


/* Offer Section Start*/
.img-hover{
    transition: all 0.4s ease;
    cursor: pointer;
}
.img-hover:hover{
    
    transform: scale(1.1);
}
/* Offer Section End*/


/* Footer section Start */
.bg-footer{
    background: linear-gradient(175.61deg, #060CDF 4.02%, #0451E8 37.84%, #038CF1 62.87%, #26EDFE 79.98%);
}
/* Footer section End */

/* Offer for you section Start */
.offer-bg-1{
    background-color: #DFCCF1;
    border-radius: 8px;
    margin-right: 20px;
    padding: 12px 0 12px 12px;
    margin-right: 25px;

}
.iphone{
    margin-top: -80px;
}
.offer-btn{
    background-color: #03C68B;
    padding: 8px 15px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}
.iphone-model-1{
    color: #530152;
    font-size: 20px;
    font-weight: 600;
}
.iphone-model{
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}
.iphone-model-2{
    color: #222222;
    font-size: 14px;
    font-weight: 500;
}
.offer-title{
    color: #000000;
    font-weight: 700;
    font-size: 50px;
}
.offer-sub-title{
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}
.offer-bg-2{
    background: linear-gradient(97.4deg, #AED9EA 10.97%, #60A2CD 98.63%);
    border-radius: 8px;
    margin-right: 25px;
    padding: 12px;
}
.vr-model{
font-style: normal;
font-weight: 600;
font-size: 32.6207px;
color: #ffffff;
}
.vr-model-inner{
    font-size: 18.6207px;
    color: #ffffff;
}
.vr-shadow, .iphone-shadow{
    filter: drop-shadow(0.30rem 1.35rem 0.5rem rgba(0, 0, 0, 0.5));
}
.offer-bg-3{
    background: linear-gradient(97.4deg, #F7E6D3 10.97%, #F7DAB9 98.63%);
    border-radius: 8px;
    padding: 12px;
}
.headphone-model{
    font-style: normal;
font-weight: 600;
font-size: 32.6207px;
color: #B16A00;
margin-top: -10px;
}
.headphone-model-inner{
    font-size: 20px;
}

.carousel-control-next,.carousel-control-prev{
    display: inline-block;
    
}
/* Offer for you section End */


/* mobile phone section Start */

.mobile-section{
   
    /* margin-top: 110px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
   
    
   
}
.image-design{
   
    background: linear-gradient(160.26deg, rgba(6, 12, 223, 0.5) -8.09%, rgba(4, 81, 232, 0.5) 21.06%, rgba(3, 140, 241, 0.5) 47.43%, rgba(38, 237, 254, 0.5) 83.54%);  
    padding-top: 50px;
    
}
.image-design img{
    margin-left: -52px;
    margin-bottom: -87px;
    width: 830px;
}
.mobile-model{
    color: #05518E;
    font-size: 40px;
    font-weight: 600;
}
.description{
    font-size: 20px;
    color: #222222;
    font-weight: 600;
    padding: 0 10px;
    
}
.btn-design{
    padding: 8px 50px;
    background: linear-gradient(70.26deg, rgba(6, 12, 223, 0.5) -8.09%, rgba(4, 81, 232, 0.5) 21.06%, rgba(3, 140, 241, 0.5) 47.43%, rgba(38, 237, 254, 0.5) 83.54%);  
    border-radius: 30px;
    color: white;
    border: none;
    font-size: 20px;
    /* position: relative; */
    position: relative;
    
}

.btn-design span{
   
    position: absolute;
  top: 14%;
  /* left: 50%; */
  transform: translate(-50%);
  margin-left: 10px;
  width: 0;
  height: 0;
  font-size: 25px;
}

.bottom-right-img{
     position: absolute;
     right: 50px;
     margin-top: -110px;
     animation: bounce2 4.5s ease infinite;
     filter: drop-shadow(0.30rem 1.35rem 0.5rem rgba(0, 0, 0, 0.5));
}
@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    30% {transform: translateY(-30px);}
    60% {transform: translateY(-10px);}
}
/* mobile phone section End */

 .tv-video-design{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
}

/* Category section Start */
.category-bg{
    background: linear-gradient(175.61deg, #060CDF 4.02%, #0451E8 37.84%, #038CF1 62.87%, #26EDFE 79.98%);
    border-radius: 15px;
    padding: 5px;
}
.category-bg h5{
    color: white;
    text-align: center;
}
.category-bg img{
    transition: transform 0.3s ease-out;
    filter: drop-shadow(2px 4px 7px #807d7d);
}
.category-bg img:hover{
    transform: translateY(-30%);
    cursor: pointer;
}
/* Category section End */



.outer{
    position: relative;
    /* margin: 0 50px; */
    
  }
  .circle{
    background: linear-gradient(#0451E8 37.84%, #038CF1 62.87%, #26EDFE 79.98%);
  width: 100%;
  height: 200px;
  border-radius: 50%;
  
  }
  .outer img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    cursor: pointer; 
    
  }

  .circle button{
    /* height: 280px;
    width: 280px;
    border-radius: 50%; */
    width: 200px;
    height: 100px;
    border-radius: 50%;
  }
  /* .outer span{
    height: 100%;
    width: 100%;
    background: inherit;
  } */
  /* .circle span{
    border-radius: 50%;
  } */
  /* .outer:hover span:nth-child(1){
    filter: blur(7px);
  } */
  .outer:hover span:nth-child(2){
    filter: blur(14px);
  }
  .outer:hover{
    background: linear-gradient(#0451E8 37.84%, #038CF1 62.87%, #26EDFE 79.98%);
    animation: rotate 1.5s linear infinite;
  }
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
/* New Relased iPhone section End */

.border-image-clip-path {
    width: 250px;
    height: 300px;
    margin:0 auto;
    
    
  
    border: 10px solid;
    border-image: linear-gradient(45deg, gold, deeppink) 1;
    clip-path: inset(0px round 10px);
   
    filter: hue-rotate(360deg);
   
    justify-content: center;
}
.border-image-clip-path:hover{
    animation: huerotate 6s infinite linear;
}

@keyframes huerotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rorate(360deg);
    }
}

/* Swiper js css start */
/* body {
  background: rgb(53, 52, 52);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
} */

/* Slider design - 1 */
/* #slider {
  position: relative;
  width: 50%;
  height: 32vw;
  margin: 150px auto;
  font-family: 'Helvetica Neue', sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
} */

/* input[type=radio] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
} */


/* input[type=radio]:nth-child(5) {
  margin-right: 0px;
}

input[type=radio]:checked {
  opacity: 1;
} */




/* #slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
} */



/* Slider Functionality */

/* Active Slide */
/* #s1:checked ~ #slide1,
 #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
   #s4:checked ~ #slide4,
    #s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px); 
}*/

/* Next Slide */
/* #s1:checked ~ #slide2,
 #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
   #s4:checked ~ #slide5,
    #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(20%, 0, -100px);
} */


/* Next to Next Slide */
/* #s1:checked ~ #slide3,
 #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
   #s4:checked ~ #slide1,
    #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(40%, 0, -250px);
} */

/* Previous to Previous Slide */
/* #s1:checked ~ #slide4,
 #s2:checked ~ #slide5,
  #s3:checked ~ #slide1,
   #s4:checked ~ #slide2,
    #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-40%, 0, -250px);
} */

/* Previous Slide */
/* #s1:checked ~ #slide5,
 #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
   #s4:checked ~ #slide3,
    #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-20%, 0, -100px);
} */
/* .text-design-refrigator{
 
  color: white;
  font-weight: 600;
font-size: 120px;
z-index: 99;
}
.ref-design{
  color: white;
  font-weight: 600;
font-size: 60px;
z-index: 99;
} */
/* Swiper js css end */

/* Slider Design-2 */
#section-margin-top{
  margin-top: 150px;
}
#curve {
  width: 100vw;
  height: 100vh;
  display: grid;
  padding: 60px 0;
  grid: 1fr -webkit-min-content -webkit-min-content 1fr/1fr;
  grid: 1fr min-content min-content 1fr/1fr;
  align-items: center;
  justify-items: center;
 

  
}

/* header {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
} */

#mysection {
  width: 100vw;
  overflow: hidden;
  position: relative;
  --v-offset: 60px;
  --curve-height: 120px;
  
}
#mysection:before, #mysection:after {
  content: "";
  display: block;
  background: white;
  width: calc(100vw + 2 * var(--v-offset));
  height: var(--curve-height);
  position: absolute;
  border-radius: 50%;
  left: calc(-1 * var(--v-offset));
  right: calc(-1 * var(--v-offset));
  z-index: -2;


 
}
#mysection:before {
  top: calc(-0.6 * var(--curve-height));

}
#mysection:after {
  bottom: calc(-0.6 * var(--curve-height));
 
}

.wrapper {
  display: grid;
  grid-template-rows: 300px;
  grid-auto-flow: column;
  grid-gap: 24px;
  overflow: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      
      
}
.wrapper img {
  scroll-snap-align: center;
  z-index: -2;
 
 
}
.bg-refrigerator{
  background: linear-gradient(95.78deg, #1C1D1D 22.55%, #CBD3E4 105.45%);
  width: 100vw;
  height: 700px;
  margin-top: -280px;
  
}
.cover-frize{
  width: 300px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1050px;
  z-index: 100;
  overflow-x: hidden;
}
.smart{
  font-size: 150px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: -30px;
}
.refrigerator-text{
  font-size: 150px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: -60px;
}
/* .circle-border{
  border-radius: 50%;
	border: 1px solid white;
	height: 100px;
	width: 100px;
  text-align:center;
  
}
.circle-border img{
  display: block;
  margin: auto;
  height: 80px;
	width: 80px;
  align-self: center;
} */

.accessories-margin-top{
  margin-top: 200px;
}
