/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2023 sbit-shop
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root{

    /**
   * colors
   */

   --blue-1: hsl(238, 95%, 45%);
   --blue-2: hsl(220, 97%, 46%);
   --blue-3: hsl(205, 98%, 48%);
   --blue-4: hsl(185, 99%, 57%);
   --offer-bg-1: hsl(271, 58%, 87%);
   --offer-bg-2: hsl(197, 59%, 80%);
   --offer-bg-3: hsl(204, 52%, 59%);
   --offer-bg-4: hsl(32, 68%, 90%);
   --offer-bg-5: hsl(32, 79%, 85%);
   --todays-deal-bg:hsl(0, 0%, 95%);
   --white: hsl(0, 0%, 100%);
   --black: hsl(0, 0%, 0%);
   --dark-blue: hsl(212, 100%, 19%);
   --mobile-phone: hsl(207, 93%, 29%);

    /**
   *************** More Custom Color **************************
   */

   --light-steel-blue: hsl(218, 33%, 77%);
   --royal-blue-light: hsl(225, 68%, 53%);
   --flickr-blue_30: hsla(225, 68%, 53%, 0.3);
   --carolina-blue: hsl(201, 92%, 47%);
   --oxford-blue-1: hsl(218, 70%, 18%);
   --oxford-blue-2: hsl(217, 100%, 12%);
   --oxford-blue-3: hsl(218, 71%, 11%);
   --gainsboro_50: hsla(0, 0%, 85%, 0.5);
   --lavender-web: hsl(225, 67%, 91%);
   --sonic-silver: hsl(0, 0%, 47%);
   --light-gray: hsl(0, 0%, 84%);
   --cultured: hsl(0, 0%, 97%);
   --black_10: hsla(0, 0%, 0%, 0.1);
   --black_8: hsla(0, 0%, 0%, 0.08);
   --jet: hsl(0, 0%, 20%);

   /**
   * gradient color
   */
   --gradient: linear-gradient( 90deg, var(--carolina-blue) 0%, var(--royal-blue-light) 100%);
   --gradient-banner-bg: linear-gradient( 161.61deg, var(--blue-1) 4.02%, var(--blue-2) 37.84%,var(--blue-3) 62.87% ,var(--blue-4) 79.98%);
   --gradient-offer-bg-1: linear-gradient( 97.4deg, var(--offer-bg-2) 10.97%, var(--offer-bg-3) 98.63%);
   --gradient-offer-bg-2: linear-gradient( 97.4deg, var(--offer-bg-4) 10.97%, var(--offer-bg-5) 98.63%);
   --gradient-category-bg: linear-gradient( 161.61deg, var(--blue-1) 4.02%, var(--blue-2) 37.84%,var(--blue-3) 62.87% ,var(--blue-4) 79.98%);
   --gradient-todays-deal-bg: linear-gradient(68.8deg, rgba(0, 0, 0, 0.95) 1.8%, rgb(0, 55, 79) 31.8%, rgb(9, 93, 134) 56.2%, rgb(15, 155, 217) 89%);
   --gradient-mobile-phone-bg: linear-gradient(160.26deg, rgba(6, 12, 223, 0.5) -8.09%, rgba(4, 81, 232, 0.5) 21.06%, rgba(3, 140, 241, 0.5) 47.43%, rgba(38, 237, 254, 0.5) 83.54%); 
   --gradient-btn: linear-gradient(70.26deg, rgba(6, 12, 223, 0.5) -8.09%, rgba(4, 81, 232, 0.5) 21.06%, rgba(3, 140, 241, 0.5) 47.43%, rgba(38, 237, 254, 0.5) 83.54%); 
   --gradient-menu: linear-gradient(90deg, hsl(234, 100%, 18%), hsl(234, 100%, 55%), hsl(203, 94%, 65%));
   --gradient-footer-bg: linear-gradient(125deg, #060CDF 0%, #0451E8 40.49%, #038CF1 72.22%, #26EDFE 100%);


   /**
   * typography
   */

--ff-montserrat: 'Montserrat', sans-serif;
--ff-poppins: "Poppins", sans-serif;

--fs-1: 7rem;
--fs-2: 3.6rem;
--fs-3: 3.2rem;
--fs-4: 2.4rem;
--fs-5: 2.2rem;
--fs-6: 1.8rem;
--fs-7: 1.6rem;
--fs-8: 1.3rem;

--fw-800: 800;
--fw-700: 700;
--fw-600: 600;
--fw-500: 500;
--fw-400: 400;



/**
   * spacing
   */
   --section-padding-desktop: 120px;
   --section-padding-mobile: 60px;

    /**
   * shadow
   */
   --shadow-1: 4px 4px 15px var(--black_10);
   --shadow-2: 0 10px 15px var(--black_10);
   --shadow-3: 0px 20px 60px var(--black_8);
   --shadow-4: 0px 10px 30px var(--flickr-blue_30);
   --shadow-5: 0px 2px 60px 0px var(--black_10);
   --shadow-6: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   --shadow-7: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

   /**
   * border radius
   */

   --radius-8: 8px;
   --radius-6: 6px;
   --radius-4: 4px;

    /**
   * transition
   */
   --transition: 0.25s ease;
   --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);


}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a,
img,
span,
input,
button,
ion-icon{display: block;}

img{
    height: auto;
}

input,
button{
    background: none;
    border: none;
    font: inherit;
}

input {width: 100%;}

button {cursor: pointer;}

ion-icon {pointer-events: none;}

address {font-style: normal;}

html{
    font-family: var(--ff-poppins);
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    font-size: 1.5rem;
    overflow-x: hidden;
   
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.section {padding-block-start: var(--section-padding-mobile);}
.img-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.nav-bg-color{
  background-image: var(--gradient-menu);
}
.navbar-brand{
  font-family: 'Playfair Display SC', serif!important;
}
.menu-bg-color{background-color: white!important;}

.nav-link{
  /* font-size: var(--fs-6)!important; */
  color: black!important;
}
.currency-list{
  display: none;
}
/*-----------------------------------*\
  #Offer Section
\*-----------------------------------*/

.img-card .img-hover img{
  /* transition: all 0.4s ease;
  cursor: pointer; */
  transition: var(--transition);
}
.img-card:is(:hover, :focus-within) .img-hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.offer-bg-1 {
  background-color: #DFCCF1;
  border-radius: 8px;

  
}
.offer-h3{font-size: var(--fs-2);}
.offer-p{font-size: var(--fs-5);}
.offer-p-sm{font-size: var(--fs-7);}
.offer-btn{
  background-color: #03C68B;
  padding: 8px 15px;
  color: #ffffff;
  border: none;
  font-size: var(--fs-7);
  border-radius: 3px;
}
.offer-content{margin-block-start: 1.2em;}

.offer-bg-2{
  background: linear-gradient(97.4deg, #AED9EA 10.97%, #60A2CD 98.63%);
  border-radius: 8px;
 
}
.offer-vr-sub-title{font-weight: var(--fw-600);}
.offer-vr-p-sm{
  font-size: var(--fs-5);
 color: var(--white);
 font-weight: var(--fw-600);

}

.offer-bg-3{
  background: linear-gradient(97.4deg, #F7E6D3 10.97%, #F7DAB9 98.63%);
  border-radius: 8px; 

}
.offer-headphone-h3{
  font-size: var(--fs-2);
 
}
.offer-headphone-sub-title{
  font-size: var(--fs-6);

 
 
  font-weight: var(--fw-600);
}
.offer-headphone-p-sm{
  color: #B16A00;
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

/*-----------------------------------*\
  #Category Section
\*-----------------------------------*/
.section-category-bg{
  background-color: var(--black);
  width: 140px;
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  border-radius: var(--radius-6);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.category-bg{
  background: linear-gradient(180deg, #0761c0 0%, #002F65 100%);
  border-radius: 10px;
  /* padding: 5px; */
}
.category-div-width{
  max-width: 45%!important;
  margin-inline: 5px;
} 

.category-img-slide-up{
  transform: translateY(-40px);
}
.storage-img img{
  transform: translateY(-25px)!important;
}

.storage-img h5{transform: translateY(0px);}
 .category-div-margin-top{
  margin-block-start: 5em!important;
} 
.category-title-h5{
  transform: translateY(-30px);
  color: var(--white);
  font-weight: var(--fw-600);
}
/*-----------------------------------*\
  #Today's Deal Section
\*-----------------------------------*/

/* Today's Deal Section Start*/

/* .todays-deal{
  background: var(--dark-blue);
} */
.product-cart{
  margin-inline: 2em;
}
.todays-deal-product{
  padding: 1em;
  margin-block-end: 1em;
  
}
.todays-content h5{
  font-size: var(--fs-8);
}
.product-price{
  font-size: var(--fs-5);
}

.product-border-shadow{
  box-shadow: var(--shadow-7);
  border: 1px solid var(--light-gray);
}
.bg-color2{
  background: linear-gradient(175.61deg, #060CDF 4.02%, #0451E8 37.84%, #038CF1 62.87%, #26EDFE 79.98%);
}

.todays-deal-img{
  height: 200px!important;
  object-fit: contain;
}
/* Today's Deal Section End*/



/*-----------------------------------*\
  #Mobile Phone
\*-----------------------------------*/


.mob-img-design{
  background: var(--gradient-mobile-phone-bg); 
 
}

.mob-img-design img{
  transform: translateY(29px);
 object-fit: cover;

}
.mobile-model{
  color: var(--mobile-phone);
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  padding-inline: 0.2em;
  margin-block-start: 0.7em;
}
.description{
  font-size: var(--fs-7);
  color: var(--black);
  font-weight: var(--fw-500);
  padding-inline: 0.7em;
  
}

.btn-design{
  background: var(--gradient-btn);
  padding: 6px 30px;
  border-radius: 30px;
  color: var(--white);
  border: none;
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  position: relative;
  margin-inline-start: 8px;
}
.btn-design span{
position: absolute;
top: 55%;
right: -15%;
transform: translate(-50%, -50%);
padding-inline: 10px;
}

.mobile-content-border-shadow{
  box-shadow: var(--shadow-6);
  padding-block-end: 3em;
}


/*-----------------------------------*\
  #Related Product Item
\*-----------------------------------*/
 .related-item{
  padding: 1em;
} 
.related-product-description{
  font-size: var(--fs-7);
}

.related-product-price{
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
}
/* .related-product-img{
  
  object-fit: cover!important;
} */

.related-product-img{
 
  object-fit: contain!important;
  height: 250px!important;
}

/*-----------------------------------*\
  #Television Section
\*-----------------------------------*/

.television-item{
  padding-inline: 1em!important;
  margin-block-end: 2em;
}
.television-description{
  font-size: var(--fs-7);
}

.television-price{
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
}

/*-----------------------------------*\
 #Budget Phone
\*-----------------------------------*/
.budget-cart-bg-1{
  background-color: #002F65!important;
}

.budget-cart-bg-2{
  background-color: #8e44ad!important;
}
.budget-cart-bg-3{
  background-color: #e1b12c!important;
}
.budgeted-product-description{
  font-size: var(--fs-4);
  color: var(--white);
}



/*-----------------------------------*\
 #Headphone
\*-----------------------------------*/

.headphone-img{
  object-fit: contain!important;
  height: 250px!important;
}

.headphone-description{
  font-size: var(--fs-7);
  
}

.headphone-price{
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
}

/*-----------------------------------*\
 #Freez
\*-----------------------------------*/

 .freez-img{
  object-fit: contain!important;
}

#mysection {
  width: 100vw;
  overflow: hidden;
  position: relative;
}
#mysection:before, #mysection:after {
  content: "";
  display: block;
  background: white;
  width: calc(100vw + 2 * var(--v-offset));
  height: var(--curve-height);
  position: absolute;
  border-radius: 50%;
  left: calc(-1 * var(--v-offset));
  right: calc(-1 * var(--v-offset));
  /* z-index: -2; */
}

#mysection:before {
  top: calc(-0.6 * var(--curve-height));

}

#mysection:after {
  bottom: calc(-0.6 * var(--curve-height));
 
}

.wrapper {
  display: grid;
  grid-template-rows: 300px;
  grid-auto-flow: column;
  grid-gap: 24px;
  overflow: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory; 
      scroll-behavior: smooth;  
      
}
.wrapper::-webkit-scrollbar { 
  display: none;
}

.wrapper img {
  scroll-snap-align: center;
  
}

.bg-refrigerator{
  background: linear-gradient(95.78deg, #1C1D1D 22.55%, #CBD3E4 105.45%);
  width: 100vw;
  height: 750px;
  display: none;
 
}
.refrigetor-container{
  margin-top: 0;
  display: none;

} 
.cover-frize{
  width: 300px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  overflow-x: hidden;
 
}
.smart{
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  color: var(--white);
  text-align: center;

}
.refrigerator-text{
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  color: var(--white);
  text-align: center;
 
}

.buy-now-btn{

  background-color: var(--light-gray);
  color: var(--black);
  padding: 10px 50px;
  font-size: var(--fs-7);
  font-weight: var(--fw-600);

  margin-block-end: 3em;
  position: relative;
  border-radius: var(--radius-4);
}

.buy-now-btn span{
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
  padding-inline: 2px;
} 


/* Washing-Machine */
.washing-machine{
   background: linear-gradient(90deg, #206975 0%, #6BA0B0 50%, #438A9B 100%)!important;
}

.washing-machine-img img{
  object-fit: contain!important;
 
}

.washing-machine-title{
  color: var(--white);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.washing-machine-text{
  color: var(--white);
  font-size: var(--fs-7);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
/*-----------------------------------*\
 #Accessories
\*-----------------------------------*/

.accessories-img{
  object-fit: contain!important;
  height: 250px!important;
}
.accessories-description{
  font-size: var(--fs-7);
}

.accessories-price{
  font-size: var(--fs-5);
}


/*-----------------------------------*\
  #Mobile-Gallery
\*-----------------------------------*/
.gallery-title{
  color: var(--white);
  font-size: var(--fs-5);
  padding: 1em;
}

.gallery-icon img{
  padding-inline-start: 0.6em;
}
.gallery-content h3{
  color: var(--white);
  font-size: var(--fs-5);
  padding-inline-start: 0.7em;
}

.gallery-content p{
  color: var(--white);
  font-size: var(--fs-8);
  padding-inline-start: 1.2em;

}
.gallary-btn{
  background: transparent;
  padding: 6px 50px;
  border-radius: 30px;
  color: var(--white);
  border: 1px solid var(--light-gray);
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  position: relative;
  margin-inline-start: 50px;
  margin-block-end: 1em;
}
.gallary-btn span{
position: absolute;
top: 55%;
right: -10%;
transform: translate(-50%, -50%);
padding-inline: 10px;
}

/*-----------------------------------*\
  #HEADPHONE GALLERY
\*-----------------------------------*/

.headphone-gallery{
  width: 100%;
}

.headphone-gallery-container {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
  justify-content: center;
}
.headphone-gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headphone-bg{
  background-image: url("../images/headphone-gallery/headphone-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
 
}

.headphone-btn-design{
  background: linear-gradient(180deg, #704C3B 0%, #54392D 100%);
  padding: 6px 50px;
  border-radius: 30px;
  color: var(--white);
  border: none;
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  position: relative;
  margin-inline-start: 8px;
}

.headphone-btn-design span{
  position: absolute;
top: 55%;
right: -18%;
transform: translate(-50%, -50%);
padding-inline: 10px;
}
.headphone-quote{
  font-size: var(--fs-6);
}
.headphone-title{
  color: var(--white);
  font-size: var(--fs-3);
  text-align: left;
  padding-left: .8em!important;
  letter-spacing: 10px;
   /*  Animation decalaration   */
    animation-name: moveInleft;
    animation-duration: 3s;
}
@keyframes moveInleft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }

  80% {
      transform: translateX(10px);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}
.headphone-text{
  color: var(--white);
  font-size: var(--fs-8);
  text-align: left;
  background: linear-gradient(90deg, #FFFFFF 0%, #FF9566 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--fw-600);
  padding-left: 2em!important;
  animation-name: moveInRight;
  animation-duration: 3s;
  letter-spacing: 3px;
}
@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }

  80% {
      transform: translateX(-10px);
  }
  
  100% {
      opacity: 1;
      transform: translate(0);
  }

}
.headphone-images img{
  /* transform: translateY(-30px); */
 
  animation: color-animation 1s linear infinite;
}


@keyframes color-animation {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.Nikhon-camera-bg{
  transform: translateY(-5px);
  background-color: #333;
}
.nikhon-camera-images img{
  transform: translateY(-20px);
  animation: color-animation 1s linear infinite;
}
.nikon-video video{
  width: 100%!important;
  /* max-width: 900px!important; */
  height: 100%;
}

.gif-image{
  margin-block-start: -10px;
  padding-inline: 10px;
}
.headphone-title{
  font-size: var(--fs-4);
}
/*-----------------------------------*\
  #ADVERTISEMENT
\*-----------------------------------*/
.advertisement-bg-color{
  background-color: #58A0E2!important;
}

.advertisement-title{
  font-size: var(--fs-4);
  color: var(--white);
  font-weight: var(--fw-400);
  text-align: center;
}

.advertisement-title span{
  font-size: var(--fs-3);
  color: var(--white);
  font-weight: var(--fw-600);
  display: inline-block;
  text-align: center;
}
 .advertise-image-2 img{
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}
.advertisement-text{
  font-size: var(--fs-8);
  color: var(--white);
  text-align: center;
}
.price-tag{
  font-weight: var(--fw-600);
  font-size: var(--fs-6);
}

.advertisemtn-bg-black{
  background-color: black!important;
}

.advertise-image-1 img{
  animation: color-animation 1s linear infinite;
}

.advertisement-title-1{
  color: var(--white);
  font-size: 2rem;
  font-weight: var(--fw-600);
  text-align: center;
}

.advertisement-text-1{
  color: var(--white);
  font-size: var(--fs-7);
  text-align: center;
 

}

.price-1{
  color: #03C68B;
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  display: inline;

  
}
.advertisement-text-2{
  color: var(--white);
  font-size: var(--fs-5);
  text-align: center;
  

 
}

.btn-advertisement{
  color: var(--white);
  padding: 6px 30px;
  box-shadow: rgba(231, 234, 236, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: var(--radius-4);
  font-size: 1.2em;
  text-align: center;
}

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.contact-bg{
  background-color: #4A69E2;
  border-radius: 10px;
  padding: 20px;
}
.contact-input-form input{
  background-color: transparent;
} 
.contact-btn{
  
  text-transform: uppercase;
  font-weight: var(--fw-400)!important;
  font-size: var(--fs-8)!important;
  border-radius: var(--radius-4)!important;
  margin-left: 5px!important;
  
}
.contact-input-form input{
  border-radius: var(--radius-4)!important;
  height: 30px!important;
} 

/*-----------------------------------*\
  #NEW FOOTER
\*-----------------------------------*/
.footer-brand-1{
  background-image: var(--gradient-footer-bg);
}

.social-list-1 .social-link-1 {
  padding: 11px;
  background-color: white;
  color: blue;
  font-size: 12px;
  border-radius: 50%;
}

.footer-top-1{
  padding-block: 20px;
  border-block-end: 1px solid var(--light-gray);
  margin-block-end: 20px;
}
.footer-top-1 a{
  text-decoration: none;
}
.logo-1{
  color: var(--white);
  font-family: Playfair Display SC;
  font-size: 3.4rem;
  font-weight: var(--fw-400);
}
.footer-text-1 {
  line-height: 1.6;
  margin-block: 15px;
  font-size: var(--fs-8);
}

.footer-text-2{
  line-height: 1.6;
  margin-block: 15px;
  font-size: var(--fs-8);
  width: 80%;
}

.footer-list li a{
  text-decoration: none;
  color: var(--white);
  margin-block: 5px;
  font-size: var(--fs-8);
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn{
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--royal-blue-light);
  font-size: 18px;
  color: var(--white);
  padding: 14px;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);

}

.back-top-btn.active{
  transform: translateY(-10px);
  visibility: visible;
  opacity: 1;
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/


/**
 * responsive for larger than 575px screen
 */

 @media(min-width: 575px){
   /**
   * CUSTOM PROPERTY
   */

   :root{
    
    /**
     * typography
     */

     --fs-1: 5.5rem;
     --fs-1-large: 8rem;
     
   }

   
  /**
   * REUSED STYLE
   */

   .container{
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
   }
   /**
   * HEADER
   */




   /**
   * Offer 
   */

  .offer-bg-1{
    height: 400px!important;
  }

  .offer-bg-2, .offer-bg-3{
    height: 450px!important;
    max-width: 45%!important;
   
  }

  /*-----------------------------------*\
  #Category Section
\*-----------------------------------*/
.category-div-width{
  max-width: 45%!important;
  margin-inline: 12px;
}
    /**
   * Footer
   */

   .footer-text-1 {
    max-width: 480px;
    margin-inline: auto;
  }

   /*-----------------------------------*\
  #Today's Deal Section
  \*-----------------------------------*/

  .product-cart-1{
    padding: 2em!important;
  } 

  .product-cart{
    margin-inline: 0em!important;
    padding: 0em!important;
  }
  .todays-deal-img{
    height: 200px!important;
    object-fit: contain;
  }
  .television-item{
    padding-inline: 1em!important;
    margin-block-end: 3em;
  }
  .todays-deal-product{
    
    margin-block-end: 3em;
    
  }
  /*-----------------------------------*\
  #Mobile Phone
\*-----------------------------------*/


.mob-img-design img{
  transform: translateY(68px);
}

.mobile-model{
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
  padding-inline-start: 1em;
  margin-block-start: 0.7em;
}
.description{
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  margin-inline-start: 1.5em;
  
}
.btn-design{
  padding: 10px 50px;
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  margin-inline-start: 3em;
}

.btn-design span{
  right: 2%;
  padding-inline: 2px;
  }

    /*-----------------------------------*\
  #Gallery Mobile
\*-----------------------------------*/

 .gallery-img img{
  object-fit: cover!important;
  height: 600px!important;
} 
.gallery-img-4{
  object-fit: contain!important;
  height: 500px!important;
} 
.gallary-btn{
  margin-block-end: 1em;
}
 
.gif-image {
  padding-inline: 17px;
  margin-left: 55px;
}
  /*-----------------------------------*\
  #Related Item
\*-----------------------------------*/

  /* .related-item{
    margin-block-end: 10em!important;
  } */

  .related-product-img,
  .accessories-img{
    height: 250px!important;
    object-fit: cover;
  }
  .television-img{
    height: 200px!important;
    object-fit: contain;
  }

  #section-margin-top{
    margin-top: 100px;
  }
  #curve {
    width: 100vw;
    height: 100vh;
    display: grid;
    padding: 60px 0;
    grid: 1fr -webkit-min-content -webkit-min-content 1fr/1fr;
    grid: 1fr min-content min-content 1fr/1fr;
    align-items: center;
    justify-items: center;
  } 
  
  #mysection {
    width: 100vw;
overflow: hidden;
position: relative;
--v-offset: 80px;
--curve-height: 150px;
margin-block-start: -200px;
/* z-index: -2; */
    
  }
  
  .bg-refrigerator{
    background: linear-gradient(95.78deg, #1C1D1D 22.55%, #CBD3E4 105.45%);
    width: 100vw;
    height: 750px;
    margin-top: -400px;
    display: block;
  }

  .refrigetor-container{
    margin-top: -600px;
    display: block;
  } 
  .cover-frize{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    overflow-x: hidden;
    margin-top: -400px;
  }

  .margin-adjust{
    margin-top: 200px;
  }
  .smart{
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    
  }
  .refrigerator-text{
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    text-align: center;
   
  } 
  .buy-now-btn{margin-top: -20px;}

  /*-----------------------------------*\
 #Headphone Gallery
\*-----------------------------------*/
  .headphone-gallery-container {
   
    grid-template-columns: 1fr 1fr;
  
  } 
    
 


/*-----------------------------------*\
 #Accessories
\*-----------------------------------*/

.accessories-img{
  object-fit: contain;
  height: 250px!important;
}

/**
   * Footer
   */

   .footer-top .container{
    grid-template-columns: 1fr 1fr;
   }
 }




 /**
 * responsive for larger than 768px screen
 */

 @media(min-width: 768px){
   /**
   * CUSTOM PROPERTY
   */

   :root{
    
    /**
     * typography
     */

     --fs-2: 4.8rem;
     --fs-1-large: 9rem;
   }

     /**
   * RESET
   */

  body { font-size: 1.6rem; }

   /**
   * REUSED STYLE
   */

   .container{max-width: 750px;}



   /**
   * Header
   */

   .home-3d-animated-img img {
    width: 60%;
}


    /**
   * Offer 
   */

  .offer-bg-2, .offer-bg-3, .offer-bg-1{
    height: 450px!important;
    max-width: 45%!important;
   
  }

  /**
   * SERVICE
   */
   
   
   
   /* Today's Deal Section Start*/

.todays-deal-product{
  padding: 0em;
  max-width: 47%!important;
}
.todays-content h5{
  font-size: var(--fs-6);
}

    /*-----------------------------------*\
  #Mobile Phone
\*-----------------------------------*/


.mob-img-design img{
  transform: translateY(75px);
}



.mobile-model{
  font-size: var(--fs-1);

  padding-inline-start: 1em;
  margin-block-start: 0.7em;
}


.btn-design span{
  right: 2%;
  padding-inline: 2px;
  }
 


  .related-product-img{
 
    object-fit: contain;
  }

     /**
   * CTA
   */
   /* .headphone-gallery-img-3
   {
    width: 100%!important;
    min-width: 300px!important;
    
  }   */

  /* Nikhon Gallery */
  .gif-image {
    margin-left: 6px;
}

.headphone-title {
  font-size: var(--fs-3)!important;
  letter-spacing: 5px;
}
/* Headphone Gallery */
  .headphone-bg {
    height: 557px!important;
}
/* Washing Machine */

  .washing-machine-title {
    font-size: var(--fs-2);
}

.washing-machine-text {
 
  font-size: var(--fs-6);
 
}
   /* Advertisement */
.div-size{
  /* width: 550px!important; */
  height: 250px!important;
}

 /**
   *   CONTACT
   */
.contact-bg{
  padding-block: 80px;
  border-radius: 30px;
}
.contact-input-form{
  width: 23rem!important;
  margin-right: 10px;
  
}
.contact-input-form input{
  border-radius: var(--radius-4)!important;
  height: 40px!important;
} 
.contact-content h1{
  font-size: var(--fs-3);
  max-width: 650px;
}

.contact-content p{
  font-size: var(--fs-6);
}
.contact-btn{
  padding-inline: 3rem!important;
  text-transform: uppercase;
  font-weight: var(--fw-500)!important;
  font-size: var(--fs-7)!important;
  border-radius: var(--radius-4)!important;
  
}
  /**
   * FOOTER
   */

   .footer-text-1 {
    max-width: 600px;
    margin-inline: auto;
    font-size: var(--fs-6);
  }


    /**
   * BACK TO TOP
   */

   .back-top-btn{
    bottom: 70px;
    right: 50px;
   }

   
.smart{
  font-size: var(--fs-1-large);
  
}
.refrigerator-text{
  font-size: 80px;

}

.headphone-bg{
  height: 500px;
  margin-top: -5px!important;
}
.headphone-images img{
  transform: translateY(-100px);
}

.headphone-content{
  transform: translateY(-10px);
}
.headphone-title{

  font-size: var(--fs-2);
}
.headphone-text{

  font-size: var(--fs-6);
} 

 }


 /**
 * responsive for larger than 992px screen
 */
 @media(min-width: 992px){
  /**
  * CUSTOM PROPERTY
  */

  :root{
   
   /**
    * typography
    */

    --fs-2: 6rem;
    --fs-1: 4.6rem;
    --fs-3: 4.6rem;
  }

   /**
   * REUSED STYLE
   */

   .container{max-width: 980px;}

     /**
   * HEADER
   */
   .menu-bg-color{
    background-color: transparent!important;
   }
   .navbar-brand{
    font-size: var(--fs-4)!important;
    
  }
  .nav-link{
    font-size: var(--fs-6)!important;
    color: white!important;
    margin-inline-end: 18px;
  }
  .currency-list{
    display: flex;
    align-items: center;
  }

  .currency-list ion-icon{
    margin-inline: 10px;
    color: white;
    --ionicon-stroke-width: 50px!important;
    font-size: 16px;
  }
  .navbar-nav{
    margin-left: auto!important;

  }
     /**
   * SERVICE
   */

    /**
   * Offer 
   */

   .offer-bg-1, .offer-bg-2, .offer-bg-3{
    height: 500px!important;
    max-width: 30%!important;
   
  }


  /**
   * ABOUT
   */
   .category-div-width{
    max-width: 20%!important;
    margin-inline: 5px;
  } 

  /* Today's Deal Section Start*/



.todays-deal-product{
  padding: 0em;
  max-width: 47%!important;
}
.todays-content h5{
  font-size: var(--fs-6);
}

  /*-----------------------------------*\
  #Mobile Phone
\*-----------------------------------*/

.mob-img-design img{
  transform: translateY(55px);
}
  
   /*-----------------------------------*\
  #Gallery Mobile
\*-----------------------------------*/

.gallery-img img{
  object-fit: contain!important;
  height: 100%
} 
.gallery-img-4{
  object-fit: contain!important;
  height: 100%;
} 
.gallary-btn{
  margin-block-end: 1em;
}

   /*-----------------------------------*\
  #Headphone
\*-----------------------------------*/

.headphone-img{
  height: 250px!important;
  object-fit: contain;
}

    /* Freez */

    .refrigetor-container{
      margin-top: -600px;
    } 
     .cover-frize{
      margin-top: -300px;
    } 

    .margin-adjust{
      margin-top: 200px;
    }
    
    .headphone-gallery-container {
      display: grid;
      gap: 0;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-auto-flow: dense;
    }
    .headphone-gallery-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .big{
      grid-column: span 2!important;
        grid-row: span 2!important;
    }

    .vertical{
      grid-row: span 2!important;
    }
  
    .headphone-images img{
      transform: translateY(-130px);
    }
    
    .headphone-content{
      transform: translateY(-30px);
    }
    .headphone-title{
    
      font-size: var(--fs-1);
    }
    .headphone-text{
    
      font-size: var(--fs-5);
    }

  
   /**
   * Nikhon Photo gallery
   */
   .gif-image{
    margin-inline-start: 100px;
    margin-block-start: -50px;
    padding-inline: 10px;
  }
  

  /* Washing-Machine */


.washing-machine-img img{

 width: 800px!important;
 height: 600px!important;
}
.washing-machine-title{
 
  font-size: var(--fs-1-large);
 
}

.washing-machine-text{
  font-size: var(--fs-4);
}

 /* Advertisement */
.div-size{
  width: 450px!important;
  height: 300px!important;
}
.advertisement-title-1{
  font-size: 3rem;
  font-weight: var(--fw-600);
  padding-inline-start: 20px;
  
}

.advertisement-text-1{
  font-size: var(--fs-7);
  padding-inline-start: 20px;
}

.price-1{
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
 
  
}
.advertisement-text-2{
  font-size: var(--fs-5);
  padding-inline-start: 20px;
}
.btn-advertisement{
  padding: 8px 25px;
  margin-inline-start: 20px;
  font-size: var(--fs-8);
}

.advertisement-title{
  font-size: var(--fs-3);
  font-weight: var(--fw-400);
  width: 300px;
  
}

.advertisement-title span{
  font-size: var(--fs-3);
  font-weight: var(--fw-600); 
}

.advertisement-text{
  font-size: var(--fs-8);
}
.price-tag{
  font-weight: var(--fw-600);
  font-size: var(--fs-6);
}

  /**
   * CONTACT
   */
.contact-bg{
  padding-block: 100px;
}
.contact-input-form{
  width: 30rem!important;
  margin-right: 10px;
  height: 40px!important;
  
}
.contact-input-form input{
 
  height: 40px!important;
} 
.contact-content h1{
  font-size: var(--fs-3);
  max-width: 880px;
  text-align: center!important;
}
.contact-content p{
  font-size: var(--fs-6);
}
.contact-btn{
  padding-inline: 4rem!important;
  
}
    /**
   * FOOTER
   */

   .footer-text-1 {
    max-width: 750px;
    margin-inline: auto;
    font-size: var(--fs-6);
  }
   
}

/**
 * responsive for larger than 1200px screen
 */

 @media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

   :root {

    /**
     * typography
     */

    --fs-2: 8rem;
    --fs-1: 5.5rem;
    --fs-3: 4.8rem;

  }

    /**
   * REUSED STYLE
   */

   .container { max-width: 1180px; }
   .section {padding-block-start: var(--section-padding-desktop);}

        /**
   * HEADER
   */


   
  /**
   * ABOUT
   */


  /*-----------------------------------*\
  #Today's Deal Section
\*-----------------------------------*/

/* Today's Deal Section Start*/

.todays-content h5{
  font-size: var(--fs-5);
}

  /*-----------------------------------*\
  #Mobile Phone
\*-----------------------------------*/

.mob-img-design img{
  transform: translateY(68px);
}
 
  /*-----------------------------------*\
  #Freez
\*-----------------------------------*/


.cover-frize{
  margin-top: -400px;
} 

.headphone-gallery-container {
 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
.headphone-bg{
  height: 650px;
 
}

 /* Advertisement */
 .div-size{
  width: 550px!important;
  height: 350px!important;
}

 /* Contact */
.contact-bg{
  padding-block: 100px!important;
}
.contact-content h1{
  margin-inline: auto;
}
.contact-input-form input{
  height: 45px!important;
} 
.contact-btn{
  height: 45px!important;
}

.footer-text-1 {
  max-width: 750px;
  margin-inline: auto;
  font-size: var(--fs-6);
}
}





